{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large uk-width-1-3@m uk-width-1-2@s">
    <h2 class="uk-text-center">{% trans "Verify Your E-mail Address" %}</h2>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
        process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

</div>
{% endblock %}