{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Pizzitalia{% endblock %} | {% if '/' == request.path %}The True
        Italian{% else %}Pizzitalia{% endif %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css"
        integrity="sha256-1NCiLO1eL8xsDn3wFHlM37FhxQjBruKz/veyTbWSWHk=" crossorigin="anonymous" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Pizzitalia, The True Italian.">
    <meta name="description" content="We sell award-winning sicilian-style pizza and mouth-watering steak subs! ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://pizzitalia.herokuapp.com/">
    <meta property="og:title" content="The True Italian.">
    <meta property="og:description"
        content="We sell award-winning sicilian-style pizza and mouth-watering steak subs! ">
    <meta property="og:image" content="{% static 'images/carousel-reg_pizza.jpg' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://pizzitalia.herokuapp.com/">
    <meta property="twitter:title" content="The True Italian.">
    <meta property="twitter:description"
        content="We sell award-winning sicilian-style pizza and mouth-watering steak subs! ">
    <meta property="twitter:image" content="{% static 'images/carousel-reg_pizza.jpg' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_sidebar.html' %}
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"
        integrity="sha256-Si/RSqVaI2Nt0NBCIADY5gtwKd6MVxsARUchEjnOoh4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"
        integrity="sha256-xx24qw2IGUl97Dv7hUvw9UKnw2G7iVq+MmE4nkM/WJs=" crossorigin="anonymous"></script>
    <script src="{% static 'js/offcanvas.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>