{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
{% if user.socialaccount_set.all.0.extra_data.name %}{{ user.socialaccount_set.all.0.extra_data.name }}{% else %}{{ user.first_name }}
{{ user.last_name }}{% endif %}
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large uk-width-1-3@m uk-width-1-2@s">
    <img class="uk-border-circle uk-align-center" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="70"
        height="70" alt="Border circle"
        onerror="this.src='https://ui-avatars.com/api/?name={% if user.socialaccount_set.all.0.extra_data.name %}{{ user.socialaccount_set.all.0.extra_data.name }}{% else %}{{ user.first_name }}{{ user.last_name }}{% endif %}'">
    <hr>
    <table class="uk-table uk-table-small">
        <tr>
            <th>
                Name
            </th>
            <td>
                {% if user.socialaccount_set.all.0.extra_data.name %}{{ user.socialaccount_set.all.0.extra_data.name }}{% else %}{{ user.first_name }}
                {{ user.last_name }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Username</th>
            <td>
                {{ user }}
            </td>
        </tr>
        <tr>
            <th>
                Email
            </th>
            <td>
                {{ user.email}}
            </td>
        </tr>
        <tr>
            <th>
                Last Login
            </th>
            <td>
                {{ user.last_login }}
            </td>
        </tr>
    </table>
    <hr>
    <table class="uk-table uk-table-small uk-table-justify uk-table-middle">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span uk-icon="location" class="uk-icon-button uk-margin-small-right uk-margin-small-left"> </s>
                </td>
                <td>
                    <a href="{% url 'address_list' %}">Manage Address</a>
                </td>
                <td>
                    <a href="{% url 'address_list' %}" class="uk-icon-link" uk-icon="chevron-right"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span uk-icon="mail" class="uk-icon-button uk-margin-small-right uk-margin-small-left"> </s>
                </td>
                <td>
                    <a href="{% url 'account_email' %}">Email Settings</a>
                </td>
                <td>
                    <a href="{% url 'account_email' %}" class="uk-icon-link" uk-icon="chevron-right"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span uk-icon="lock" class="uk-icon-button uk-margin-small-right uk-margin-small-left"> </span>
                </td>
                <td>
                    {% if user.has_usable_password %}
                    <a href="{% url 'account_change_password' %}">Change Password</a>
                    {% else %}
                    <a href="{% url 'account_set_password' %}">Set Password</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'account_change_password' %}" class="uk-icon-link" uk-icon="chevron-right"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span uk-icon="social" class="uk-icon-button uk-margin-small-right uk-margin-small-left"> </span>
                </td>
                <td>
                    <a href="{% url 'socialaccount_connections' %}">Linked Accounts</a>
                </td>
                <td>
                    <a href="{% url 'socialaccount_connections' %}" class="uk-icon-link" uk-icon="chevron-right"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}