<footer class="uk-section uk-section-muted uk-section-xsmall">
    <div class="uk-container uk-flex uk-flex-between uk-flex-middle">
        <span class="uk-text-muted uk-display-block uk-flex-1 uk-text-truncate">&copy; 2019. All rights reserved
            by
            Pizzitalia.</span>
        <div class="uk-flex-none">
            <a class="uk-icon-button" href="https://www.instagram.com/pinocchiospizza1/" uk-icon="icon: instagram"></a>
            <a class="uk-icon-button" href="https://twitter.com/PinocchiosPizz" uk-icon="icon: twitter"></a>
            <a class="uk-icon-button uk-icon" href="mailto:pinocchiospizza1@gmail.com" uk-icon="icon: mail"></a>
            <a class="uk-icon-button uk-icon" href="tel:617-876-4897" uk-icon="icon: receiver"></a>
        </div>
    </div>
</footer>