{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="uk-container uk-margin-medium uk-width-1-3@m uk-width-1-2@s">
  <h2 class="uk-text-center"> Sign Up </h2>
  {% include 'partials/_alerts.html' %}

  <div uk-grid class="uk-child-width-1-1 uk-grid-small">
    <div>
      <a class="uk-button uk-button-primary uk-align-center uk-width-expand"
        href="{% provider_login_url "facebook" method="oauth2" %}" style="background-color: #3b5998;"><span
          uk-icon="facebook"></span> Sign up with Facebook</a>
    </div>
    <div>
      <a class="uk-button uk-button-primary uk-align-center uk-width-expand" href="{% provider_login_url "google" %}"
        style="background-color: #ea4335;"><span uk-icon="google"></span> Sign up with Google</a>
    </div>
  </div>
  <hr class="uk-divider-icon">

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name != 'captcha' %}
    <div class="uk-margin">
      <label class="uk-form-label" for="{{ field.auto_id }}">{{ field.label }} :</label>
      <input class="uk-input {% if field.errors %}uk-form-danger{% endif %}" type="{{ field.field.widget.input_type }}"
        placeholder="{% if 'email' in field.name %}johndoe@gmail.com{% else %}Enter {{ field.label }}{% endif %}"
        name="{{ field.name }}" id="{{ field.auto_id }}" {% if field.value %}value="{{ field.value }}" {% endif %}
        {% if field.field.widget.attrs.autocapitalize %}autocapitalize="{{field.field.widget.attrs.autocapitalize}}"
        {% endif %} required />
      {% if field.errors %}
      {% for error in field.errors %}
      <span class="uk-text-danger uk-text-small uk-display-block">
        {{ error }}
      </span>
      {% endfor %}
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {{ form.captcha }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="uk-button uk-button-primary uk-width-1-2@s uk-width-expand uk-align-center"
      type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/alert.js' %}"></script>
{% endblock %}